@model IEnumerable<StudentPortal.STU_DanhSachXoa>

@{
    ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">

		<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm", "Create", new { }, new { @class = "btn green" })
</p>
@(Html.Kendo().Grid<StudentPortal.STU_DanhSachXoa>()
	.Name("STU_DanhSachXoa")
	.Columns(columns =>
	{
			columns.Bound(model => model.STU_Lop.Ten_lop);
				columns.Bound(model => model.mat_khau);
				columns.Bound(model => model.Active);
		        columns.Command(command => {command.Custom("Sửa").Click("Edit"); command.Custom("Xóa").Click("Delete");});
	})
	.Groupable()
	.Pageable()
	.Sortable()
	.DataSource(
		dataSource => dataSource.Ajax()
			.Read(read => read.Action("Read", "DanhSachXoa"))
	)
)

	</div>
</div>
<script type="text/javascript">
	function Edit(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href='@Url.Action("Edit","DanhSachXoa")/'+dataItem.ID_sv;
	}
	function Delete(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href = '@Url.Action("Delete","DanhSachXoa")/' + dataItem.ID_sv;
	}
</script>
