
@{
    ViewBag.Title = "Trang tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    StudentPortal.ViewModels.NewsViewModel News = (StudentPortal.ViewModels.NewsViewModel)ViewBag.News;
}
<div class="container-fluid">
    <div class="rows-fluid">
        <div class="portlet box green">
            <div class="portlet-title">
                <h4>
                    <i class="icon-file"></i>
                    @News.Title;
                </h4>
            </div>
            <div class="portlet-body">
                <div class="well">
                    <i>Ngày gửi: @News.PostDate.ToString("hh:mm dd/MM/yyyy")</i>
                </div>
                <p>@(new HtmlString(News.Contents))</p>
            </div>
        </div>
        
    </div>
</div>