@{
    ViewBag.Title = ViewBag.News.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.News.Title</h2>
<div class="container-fluid">
    <div class="rows-fluid">
        <div>@ViewBag.News.Contents</div>
    </div>
</div>