@model IEnumerable<StudentPortal.STU_KyLuat>

@{
    ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">

		<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@(Html.Kendo().Grid<StudentPortal.STU_KyLuat>()
	.Name("STU_KyLuat")
	.Columns(columns =>
	{
			columns.Bound(model => model.So_qd);
				columns.Bound(model => model.Ngay_qd);
				columns.Bound(model => model.Hoc_ky);
				columns.Bound(model => model.Nam_hoc);
				columns.Bound(model => model.STU_HanhVi.Ma_hanh_vi);
				columns.Bound(model => model.STU_XuLy.Xu_ly);
				columns.Bound(model => model.Noi_dung);
		        columns.Command(command => {command.Custom("Edit").Click("Edit"); command.Custom("Delete").Click("Delete");});
	})
	.Groupable()
	.Pageable()
	.Sortable()
	.DataSource(
		dataSource => dataSource.Ajax()
			.Read(read => read.Action("Read", "KyLuat"))
	)
)

	</div>
</div>
<script type="text/javascript">
	function Edit(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href='@Url.Action("Edit","KyLuat")/'+dataItem.ID_ky_luat;
	}
	function Delete(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href = '@Url.Action("Delete","KyLuat")/' + dataItem.ID_ky_luat;
	}
</script>
