@model IEnumerable<StudentPortal.STU_KhenThuong>

@{
    ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">

		<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm", "Create", new { }, new { @class = "btn green" })
</p>
@(Html.Kendo().Grid<StudentPortal.STU_KhenThuong>()
	.Name("STU_KhenThuong")
	.Columns(columns =>
	{
			columns.Bound(model => model.So_QD);
				columns.Bound(model => model.Ngay_QD);
				columns.Bound(model => model.Hoc_ky);
				columns.Bound(model => model.Nam_hoc);
				columns.Bound(model => model.STU_LoaiKhenThuong.Loai_khen_thuong);
				columns.Bound(model => model.Hinh_thuc);
				columns.Bound(model => model.STU_CapKhenThuongKyLuat.Ten_cap);
		        columns.Command(command => {command.Custom("Sửa").Click("Edit"); command.Custom("Xóa").Click("Delete");});
	})
	.Groupable()
	.Pageable()
	.Sortable()
	.DataSource(
		dataSource => dataSource.Ajax()
			.Read(read => read.Action("Read", "KhenThuong"))
	)
)

	</div>
</div>
<script type="text/javascript">
	function Edit(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href='@Url.Action("Edit","KhenThuong")/'+dataItem.ID_khen_thuong;
	}
	function Delete(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href = '@Url.Action("Delete","KhenThuong")/' + dataItem.ID_khen_thuong;
	}
</script>
