@model IEnumerable<StudentPortal.STU_QuocTich>

@{
    ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">

		<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@(Html.Kendo().Grid<StudentPortal.STU_QuocTich>()
	.Name("STU_QuocTich")
	.Columns(columns =>
	{
			columns.Bound(model => model.Ma_quoc_tich);
				columns.Bound(model => model.Quoc_tich);
		        columns.Command(command => {command.Custom("Edit").Click("Edit"); command.Custom("Delete").Click("Delete");});
	})
	.Groupable()
	.Pageable()
	.Sortable()
	.DataSource(
		dataSource => dataSource.Ajax()
			.Read(read => read.Action("Read", "QuocTich"))
	)
)

	</div>
</div>
<script type="text/javascript">
	function Edit(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href='@Url.Action("Edit","QuocTich")/'+dataItem.ID_quoc_tich;
	}
	function Delete(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href = '@Url.Action("Delete","QuocTich")/' + dataItem.ID_quoc_tich;
	}
</script>
