@model IEnumerable<StudentPortal.STU_DoiTuong>

@{
    ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">

		<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm", "Create", new { }, new { @class = "btn green" })
</p>
@(Html.Kendo().Grid<StudentPortal.STU_DoiTuong>()
	.Name("STU_DoiTuong")
	.Columns(columns =>
	{
			columns.Bound(model => model.Ma_dt);
				columns.Bound(model => model.Ten_dt);
				columns.Bound(model => model.Phan_tram_mien_giam);
				columns.Bound(model => model.Nhom_ut);
		        columns.Command(command => {command.Custom("Sửa").Click("Edit"); command.Custom("Xóa").Click("Delete");});
	})
	.Groupable()
	.Pageable()
	.Sortable()
	.DataSource(
		dataSource => dataSource.Ajax()
			.Read(read => read.Action("Read", "DoiTuong"))
	)
)

	</div>
</div>
<script type="text/javascript">
	function Edit(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href='@Url.Action("Edit","DoiTuong")/'+dataItem.ID_dt;
	}
	function Delete(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href = '@Url.Action("Delete","DoiTuong")/' + dataItem.ID_dt;
	}
</script>
