@model StudentPortal.Models.LocalPasswordModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}

<div class="container-fluid">
    <div class="row-fluid">
        <p class="message-success">@ViewBag.StatusMessage</p>
    </div>
    <div class="row-fluid">
        <div class="portlet box green">
            <div class="portlet-title">
                <h4>
                    <i class=""></i>
                    Đổi mật khẩu
                </h4>
            </div>
            <div class="portlet-body form">
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                { 
                    @Html.Partial("_SetPasswordPartial")
                }
            </div>
        </div>
    </div>
</div>

