@model IEnumerable<StudentPortal.PLAN_BoMon>

@{
    ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">

		<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm", "Create")
</p>
@(Html.Kendo().Grid<StudentPortal.PLAN_BoMon>()
	.Name("PLAN_BoMon")
	.Columns(columns =>
	{
			columns.Bound(model => model.Ma_bo_mon);
				columns.Bound(model => model.Bo_mon);
				columns.Bound(model => model.So_nhom);
		        columns.Command(command => {command.Custom("Sửa").Click("Edit"); command.Custom("Xóa").Click("Delete");});
	})
	.Groupable()
	.Pageable()
	.Sortable()
	.DataSource(
		dataSource => dataSource.Ajax()
			.Read(read => read.Action("Read", "BoMon"))
	)
)

	</div>
</div>
<script type="text/javascript">
	function Edit(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href='@Url.Action("Edit","BoMon")/'+dataItem.ID_bm;
	}
	function Delete(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href = '@Url.Action("Delete","BoMon")/' + dataItem.ID_bm;
	}
</script>
