@model StudentPortal.STU_DoiTuongHocBongGiayto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<h4><i class="icon-reorder"></i>Delete</h4>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body form">
                <!-- BEGIN FORM-->
				@using (Html.BeginForm("DeleteConfirmed", "DoiTuongHocBongGiayTo", FormMethod.Post, new { @class = "form-horizontal" }))
	{


    <div class="control-group">
            @Html.LabelFor(model => model.ID_giay_to, "STU_LoaiGiayTo", new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.ID_giay_to, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>

        <div class="form-actions">
            <input type="submit" class="btn red" value="Delete" />
            @Html.ActionLink("Cancel", "Index",new{},new { @class = "btn" })
        </div>
}
			</div>
		</div>
	</div>
</div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        
    </p>
}
