@model IEnumerable<StudentPortal.STU_HoSoYeucau>

@{
    ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">

		<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@(Html.Kendo().Grid<StudentPortal.STU_HoSoYeucau>()
	.Name("STU_HoSoYeucau")
	.Columns(columns =>
	{
			columns.Bound(model => model.Khoa_hoc);
				columns.Bound(model => model.STU_He.Ma_he);
		        columns.Command(command => {command.Custom("Edit").Click("Edit"); command.Custom("Delete").Click("Delete");});
	})
	.Groupable()
	.Pageable()
	.Sortable()
	.DataSource(
		dataSource => dataSource.Ajax()
			.Read(read => read.Action("Read", "HoSoYeuCau"))
	)
)

	</div>
</div>
<script type="text/javascript">
	function Edit(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href='@Url.Action("Edit","HoSoYeuCau")/'+dataItem.ID_giay_to;
	}
	function Delete(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href = '@Url.Action("Delete","HoSoYeuCau")/' + dataItem.ID_giay_to;
	}
</script>
