@model IEnumerable<StudentPortal.STU_DanhSach>

@{
    ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">

		<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@(Html.Kendo().Grid<StudentPortal.STU_DanhSach>()
	.Name("STU_DanhSach")
	.Columns(columns =>
	{
			columns.Bound(model => model.STU_Lop.Ten_lop);
				columns.Bound(model => model.Mat_khau);
				columns.Bound(model => model.Active);
				columns.Bound(model => model.Da_tot_nghiep);
				columns.Bound(model => model.Ngoai_ngan_sach);
				columns.Bound(model => model.Lop_chat_luong_cao);
				columns.Bound(model => model.ID_xep_hang_hoc_luc);
				columns.Bound(model => model.Trang_thai);
		        columns.Command(command => {command.Custom("Edit").Click("Edit"); command.Custom("Delete").Click("Delete");});
	})
	.Groupable()
	.Pageable()
	.Sortable()
	.DataSource(
		dataSource => dataSource.Ajax()
			.Read(read => read.Action("Read", "DanhSach"))
	)
)

	</div>
</div>
<script type="text/javascript">
	function Edit(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href='@Url.Action("Edit","DanhSach")/'+dataItem.ID_sv;
	}
	function Delete(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href = '@Url.Action("Delete","DanhSach")/' + dataItem.ID_sv;
	}
</script>
