@{
    ViewBag.Title = "Đăng ký học cho sinh viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">

        </div>
    </div>
</div>