@model IEnumerable<StudentPortal.STU_HoSoSinhVien>

@{
    ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">

		<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@(Html.Kendo().Grid<StudentPortal.STU_HoSoSinhVien>()
	.Name("STU_HoSoSinhVien")
	.Columns(columns =>
	{
			columns.Bound(model => model.Ma_sv);
				columns.Bound(model => model.Ho_ten);
				columns.Bound(model => model.Ngay_sinh);
				columns.Bound(model => model.STU_GioiTinh.Gioi_tinh);
				columns.Bound(model => model.STU_DanToc.Ma_dan_toc);
				columns.Bound(model => model.STU_QuocTich.Ma_quoc_tich);
				columns.Bound(model => model.Ton_giao);
				columns.Bound(model => model.STU_ThanhPhanXuatThan.Ten_thanh_phan);
				columns.Bound(model => model.Ngay_vao_doan);
				columns.Bound(model => model.Ngay_vao_dang);
				columns.Bound(model => model.Que_quan);
				columns.Bound(model => model.ID_tinh_ns);
				columns.Bound(model => model.Dia_chi_tt);
				columns.Bound(model => model.Xa_phuong_tt);
				columns.Bound(model => model.ID_huyen_tt);
				columns.Bound(model => model.ID_tinh_tt);
				columns.Bound(model => model.ID_doi_tuong_TC);
				columns.Bound(model => model.ID_doi_tuong_TS);
				columns.Bound(model => model.Dien_thoai_NR);
				columns.Bound(model => model.STU_NhomDoiTuong.Ma_nhom);
				columns.Bound(model => model.Dia_chi_bao_tin);
				columns.Bound(model => model.ID_khu_vuc_TS);
				columns.Bound(model => model.Doi_tuong_du_thi);
				columns.Bound(model => model.Diem1);
				columns.Bound(model => model.Diem2);
				columns.Bound(model => model.Diem3);
				columns.Bound(model => model.Diem4);
				columns.Bound(model => model.Tong_diem);
				columns.Bound(model => model.SBD);
				columns.Bound(model => model.Nganh_tuyen_sinh);
				columns.Bound(model => model.Khoi_thi);
				columns.Bound(model => model.Xep_loai_hoc_tap);
				columns.Bound(model => model.Xep_loai_hanh_kiem);
				columns.Bound(model => model.Xep_loai_tot_nghiep);
				columns.Bound(model => model.Nam_tot_nghiep);
				columns.Bound(model => model.Diem_thuong);
				columns.Bound(model => model.Ly_do_thuong_diem);
				columns.Bound(model => model.Khen_thuong_ky_luat);
				columns.Bound(model => model.Qua_trinh_HT_LD);
				columns.Bound(model => model.Ho_ten_cha);
				columns.Bound(model => model.ID_quoc_tich_cha);
				columns.Bound(model => model.ID_dan_toc_cha);
				columns.Bound(model => model.Ton_giao_cha);
				columns.Bound(model => model.Ho_khau_TT_cha);
				columns.Bound(model => model.Hoat_dong_XH_CT_cha);
				columns.Bound(model => model.Ho_ten_me);
				columns.Bound(model => model.ID_quoc_tich_me);
				columns.Bound(model => model.ID_dan_toc_me);
				columns.Bound(model => model.Ton_giao_me);
				columns.Bound(model => model.Ho_khau_TT_me);
				columns.Bound(model => model.Hoat_dong_XH_CT_me);
				columns.Bound(model => model.Ho_ten_vo_chong);
				columns.Bound(model => model.ID_quoc_tich_vo_chong);
				columns.Bound(model => model.ID_dan_toc_vo_chong);
				columns.Bound(model => model.Ton_giao_vo_chong);
				columns.Bound(model => model.Ho_khau_TT_vo_chong);
				columns.Bound(model => model.Hoat_dong_XH_CT_vo_chong);
				columns.Bound(model => model.Ho_ten_nghe_nghiep_anh_em);
				columns.Bound(model => model.Dang_ky_hoc);
				columns.Bound(model => model.Hoten_Order);
				columns.Bound(model => model.Chuyen_nganh_dang_ky);
				columns.Bound(model => model.Lop);
				columns.Bound(model => model.Ngoai_ngu);
				columns.Bound(model => model.UserID);
				columns.Bound(model => model.Ngay_nhap_hoc);
				columns.Bound(model => model.UserName_tiep_nhan);
				columns.Bound(model => model.UserID_tiep_nhan);
				columns.Bound(model => model.CMND);
				columns.Bound(model => model.Ngay_cap);
				columns.Bound(model => model.Noi_cap);
				columns.Bound(model => model.Dienthoai_canhan);
				columns.Bound(model => model.Email);
				columns.Bound(model => model.NoiO_hiennay);
				columns.Bound(model => model.Namsinh_cha);
				columns.Bound(model => model.Namsinh_me);
				columns.Bound(model => model.IDCard);
				columns.Bound(model => model.Nam_nhap_hoc);
				columns.Bound(model => model.So_tai_khoan);
				columns.Bound(model => model.ID_xep_hang_hoc_luc);
				columns.Bound(model => model.Da_nhap_truong);
				columns.Bound(model => model.SV_ngoai_tinh);
				columns.Bound(model => model.Ma_ho_so);
				columns.Bound(model => model.NGANHTS);
				columns.Bound(model => model.CNGANHTT);
				columns.Bound(model => model.TTNganh);
				columns.Bound(model => model.TruongTHPT);
				columns.Bound(model => model.BanTS);
				columns.Bound(model => model.DonViDKDT);
				columns.Bound(model => model.PhieuDKDL);
				columns.Bound(model => model.LOP10);
				columns.Bound(model => model.LOP11);
				columns.Bound(model => model.LOP12);
				columns.Bound(model => model.He_nhap_hoc);
				columns.Bound(model => model.Trang_thai_hoc);
		        columns.Command(command => {command.Custom("Edit").Click("Edit"); command.Custom("Delete").Click("Delete");});
	})
	.Groupable()
	.Pageable()
	.Sortable()
	.DataSource(
		dataSource => dataSource.Ajax()
			.Read(read => read.Action("Read", "HoSoSinhVien"))
	)
)

	</div>
</div>
<script type="text/javascript">
	function Edit(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href='@Url.Action("Edit","HoSoSinhVien")/'+dataItem.ID_sv;
	}
	function Delete(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href = '@Url.Action("Delete","HoSoSinhVien")/' + dataItem.ID_sv;
	}
</script>
