@model IEnumerable<StudentPortal.STU_DanhSachKhongThi>

@{
    ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">

		<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm", "Create", new { }, new { @class = "btn green" })
</p>
@(Html.Kendo().Grid<StudentPortal.STU_DanhSachKhongThi>()
	.Name("STU_DanhSachKhongThi")
	.Columns(columns =>
	{
			columns.Bound(model => model.MARK_MonHoc.Ky_hieu);
				columns.Bound(model => model.Hoc_ky);
				columns.Bound(model => model.Nam_hoc);
				columns.Bound(model => model.Ly_do);
		        columns.Command(command => {command.Custom("Sửa").Click("Edit"); command.Custom("Xóa").Click("Delete");});
	})
	.Groupable()
	.Pageable()
	.Sortable()
	.DataSource(
		dataSource => dataSource.Ajax()
			.Read(read => read.Action("Read", "DanhSachKhongThi"))
	)
)

	</div>
</div>
<script type="text/javascript">
	function Edit(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href='@Url.Action("Edit","DanhSachKhongThi")/'+dataItem.ID_sv;
	}
	function Delete(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href = '@Url.Action("Delete","DanhSachKhongThi")/' + dataItem.ID_sv;
	}
</script>
