@model IEnumerable<StudentPortal.PLAN_LopTinChi_TC>

@{
    ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">

		<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm", "Create", new { }, new { @class = "btn green" })
</p>
@(Html.Kendo().Grid<StudentPortal.PLAN_LopTinChi_TC>()
	.Name("PLAN_LopTinChi_TC")
	.Columns(columns =>
	{
			columns.Bound(model => model.ID_lop_lt);
				columns.Bound(model => model.PLAN_MonTinChi_TC.Ky_hieu_lop_tc);
				columns.Bound(model => model.STT_lop);
				columns.Bound(model => model.So_sv_min);
				columns.Bound(model => model.So_sv_max);
				columns.Bound(model => model.Tu_ngay);
				columns.Bound(model => model.Den_ngay);
				columns.Bound(model => model.Ca_hoc);
				columns.Bound(model => model.So_tiet_tuan);
				columns.Bound(model => model.PLAN_PhongHoc.So_phong);
				columns.Bound(model => model.PLAN_GiaoVien.Ma_cb);
				columns.Bound(model => model.Huy_lop);
				columns.Bound(model => model.Ly_do);
				columns.Bound(model => model.Nhom_dang_ky);
				columns.Bound(model => model.Ngay_thi);
				columns.Bound(model => model.Cho_trong);
		        columns.Command(command => {command.Custom("Sửa").Click("Edit"); command.Custom("Xóa").Click("Delete");});
	})
	.Groupable()
	.Pageable()
	.Sortable()
	.DataSource(
		dataSource => dataSource.Ajax()
			.Read(read => read.Action("Read", "LopTinChi"))
	)
)

	</div>
</div>
<script type="text/javascript">
	function Edit(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href='@Url.Action("Edit","LopTinChi")/'+dataItem.ID_lop_tc;
	}
	function Delete(e) {
		e.preventDefault();
		var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
		location.href = '@Url.Action("Delete","LopTinChi")/' + dataItem.ID_lop_tc;
	}
</script>
