<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>Metronic Admin Dashboard Template</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link href="~/Content/themes/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/themes/assets/css/metro.css" rel="stylesheet" />
	<link href="~/Content/themes/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="~/Content/themes/assets/css/style.css" rel="stylesheet" />
	<link href="~/Content/themes/assets/css/style_responsive.css" rel="stylesheet" />
	<link href="~/Content/themes/assets/css/style_default.css" rel="stylesheet" id="style_color" />
	<link rel="stylesheet" type="text/css" href="~/Content/themes/assets/uniform/css/uniform.default.css" />
	<link rel="shortcut icon" href="favicon.ico" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
	<!-- BEGIN LOGO -->
	<div class="logo" style="font-size:16pt;margin: 60px -14px 0;width:100%">
		<a class="brand" href="index.html"><span style="color:#fff">CỔNG THÔNG TIN </span><span style="color:red">SINH VIÊN</span></a>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN LOGIN -->
	<div class="content">
		<!-- BEGIN LOGIN FORM -->
		<form class="form-vertical login-form" action="index.html" />
		<h3 class="form-title">Đăng nhập</h3>
		<div class="control-group">
			<div class="controls">
				<div class="input-icon left">
					<i class="icon-user"></i>
					<input class="m-wrap" type="text" placeholder="Username" />
				</div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<div class="input-icon left">
					<i class="icon-lock"></i>
					<input class="m-wrap" type="password" style="" placeholder="Password" />
				</div>
			</div>
		</div>
		<div class="form-actions">
			<label class="checkbox">
				<input type="checkbox" />
				Remember me
			</label>
			<a href="index.html" id="login-btn" class="btn green pull-right">Login <i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
		<div class="forget-password">
		    <h4>Quên mật khẩu ?</h4>
		    <p>
			    Click vào <a href="javascript:;" class="" id="forget-password">here</a>
			    để lấy lại mật khẩu.
		    </p>
		</div>
		</form>
    <!-- END LOGIN FORM -->
		<!-- BEGIN FORGOT PASSWORD FORM -->
		<form class="form-vertical forget-form" action="index.html" />
		<h3 class="">Forget Password ?</h3>
		<p>Enter your e-mail address below to reset your password.</p>
		<div class="control-group">
			<div class="controls">
				<div class="input-icon left">
					<i class="icon-envelope"></i>
					<input class="m-wrap" type="text" placeholder="Email" />
				</div>
			</div>
		</div>
		<div class="form-actions">
			<a href="javascript:;" id="back-btn" class="btn">
				<i class="m-icon-swapleft"></i>Back
			</a>
			<a href="javascript:;" id="forget-btn" class="btn green pull-right">Submit <i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
		</form>
    <!-- END FORGOT PASSWORD FORM -->
	</div>
	<!-- END LOGIN -->
	<!-- BEGIN COPYRIGHT -->
	<div class="copyright">
		2013 &copy; Metronic. Admin Dashboard Template.
	</div>
	<!-- END COPYRIGHT -->
	<!-- BEGIN JAVASCRIPTS -->
	<script src="~/Content/themes/assets/js/jquery-1.8.3.min.js"></script>
	<script src="~/Content/themes/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/Content/themes/assets/uniform/jquery.uniform.min.js"></script>
	<script src="~/Content/themes/assets/js/jquery.blockui.js"></script>
	<script src="~/Content/themes/assets/js/app.js"></script>
	<script>
		jQuery(document).ready(function () {
			App.initLogin();
		});
	</script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-37564768-1']);
		_gaq.push(['_setDomainName', 'keenthemes.com']);
		_gaq.push(['_setAllowLinker', true]);
		_gaq.push(['_trackPageview']);
		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
