@{
    ViewBag.Title = ViewBag.Message.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        @ViewBag.Message.Contents
    </div>
</div>
