@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid">
    <div class="span12">
        <p>@Html.ActionLink("Soạn tin","Compose", "Message", new { @class="btn blue" })</p>
        @(Html.Kendo().Grid<StudentPortal.ViewModels.MessageViewModel>()
            .Name("GridInbox")
            .Columns(column =>
            {
                //column.Bound(t => t.index).Width(50);
                column.Template(@<text></text>).ClientTemplate("&nbsp;<input type='checkbox' name='messages' class='checkRow' value='#=ID#'/>")
                        .HeaderTemplate("<input type='checkbox' class='checkAll' />").Width(30);
                column.Bound(t => t.Title).ClientTemplate(@"<a href='"+Url.Action("Detail","Message")+"/#=ID#' >#=Title#</a>");
                column.Bound(t => t.From).Width(100);
                column.Bound(t => t.Postdate).Width(100).Format("{0:hh:mm dd/MM/yyyy}");
            })
            .DataSource(source =>
            {
                source.Ajax().Read(read =>
                {
                    read.Action("getInbox", "Message");
                });
            })
            .Groupable()
            .Filterable()
            .Sortable()
            .Selectable()
            .Pageable(page => {
                page.PageSizes(new int[] { 10, 20, 30 });
            })
            .Groupable()
            .Scrollable()
            //.HtmlAttributes(new { style = "min-height:600px" })
        )
        <p></p>
        <p><button class="btn btnXoa">Xóa</button></p>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('btnXoa').click(function () {
            $.ajax({
                url: '@Url.Action("Delete", "Message", new { Area="" })',
                dataType: 'json',
                type: 'post',
                data: {
                    IDs: selectedIDs,
                },
                success: function (o) {
                    alert(o.Message);
                }
            });
        });
    });
</script>