@{
    ViewBag.Title = "Thời khóa biểu";
}

<h2>@ViewBag.Title</h2>
<div class="row-fluid">
    <div class="span12">
        <p>
            <span>Chọn chuyên ngành: </span>
            @(Html.Kendo().DropDownList()
    .Name("ID_dt")
    .OptionLabel("Chọn chuyên ngành")
    .DataTextField("Text")
    .DataValueField("Value")
    .HtmlAttributes(new { style = "width:200px;" })
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("getChuyenNganh", "ThoiKhoaBieu");
        })
        ;
    })
    .Events(e =>
    {
        //e.DataBound("chonChuyenNganh");
        //e.Change("loadTKB");
    })
)
            @(Html.Kendo().DropDownList()
            .Name("KyDangKy")
            .OptionLabel("Chọn học kỳ đăng ký")
            .DataTextField("Text")
            .DataValueField("Value")
            .HtmlAttributes(new { style = "width:150px;" })
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("getHocKyDK", "ThoiKhoaBieu").Data("getFilters");
                })
                .ServerFiltering(true);
            })
            .CascadeFrom("ID_dt")
            )
            
            @(Html.Kendo().DropDownList()
    .Name("IDGiaiDoan")
    .DataTextField("Text")
    .OptionLabel("Chọn giai đoạn")
    .DataValueField("Value")
    .HtmlAttributes(new { style = "width:200px;" })
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("getGiaiDoan", "ThoiKhoaBieu").Data("getFilters");
        });
    })
    .Events(e =>
    {
        //e.Change("reloadScheduler");
    })
    .AutoBind(false)
)
        </p>
    </div>
</div>
<script>
    function getFilters() {
        return {
            ID_dt: $('#ID_dt').val(),
        }
    }
</script>
